body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}
#canvas-container {
  width: 100%;
  text-align: center;
}
#canvas-container canvas {
  display: inline;
}
.sad-pineapple {
  font-size: clamp(100px, 40vmin, 200px);
  height: 1em;
  margin: 0 auto;
  width: 0.9em;
  position: relative;
}
.sad-pineapple div {
  position: absolute;
}
.sad-pineapple .leaf {
  background-color: darkgreen;
  border-radius: 90% 0 90% 0;
  height: 20%;
  top: 10%;
  width: 20%;
}
.sad-pineapple .leaf.left {
  transform: rotate(-100deg);
  left: 50%;
  transform-origin: bottom left;
}
.sad-pineapple .leaf.middle {
  transform: translateY(30%) rotate(-60deg);
  background-color: green;
  left: 40%;
  top: 5%;
}
.sad-pineapple .leaf.right {
  transform: rotate(20deg);
  left: 50%;
  transform-origin: bottom left;
}
.sad-pineapple .shadow {
  background-color: tan;
  border-radius: 100%;
  bottom: 5%;
  height: 10%;
  left: 28%;
  opacity: 0.5;
  width: 46%;
}
.sad-pineapple .body {
  background-color: #ffa700;
  border-radius: 40%;
  height: 50%;
  left: 24%;
  top: 27%;
  width: 54%;
}
.sad-pineapple .body .eye {
  -webkit-animation: eye 1.04s infinite;
  animation: eye 1.04s infinite;
  background-color: black;
  border-radius: 100%;
  height: 15%;
  top: 35%;
  width: 15%;
  z-index: 2;
}
.sad-pineapple .body .eye.left {
  left: 25%;
}
.sad-pineapple .body .eye.right {
  right: 25%;
}
.sad-pineapple .body .mouth {
  background-color: black;
  border-radius: 80% 80% 20% 20%;
  height: 3%;
  left: 41%;
  top: 50%;
  width: 18%;
  z-index: 2;
}
.sad-pineapple .body .arm {
  background-color: #ffa700;
  border-radius: 100vw;
  height: 50%;
  top: -10px;
  width: 20%;
}
.sad-pineapple .body .arm.left {
  transform: rotate(-170deg);
  left: 10%;
  transform-origin: bottom left;
}
.sad-pineapple .body .arm.right {
  transform: rotate(170deg);
  right: 10%;
  transform-origin: bottom right;
}
.sad-pineapple .body .leg {
  background: #ffa700;
  border-radius: 100vw;
  bottom: -25%;
  height: 40%;
  width: 20%;
}
.sad-pineapple .body .leg.left {
  left: 20%;
}
.sad-pineapple .body .leg.right {
  right: 20%;
}
.sad-pineapple .body::after {
  background: repeating-linear-gradient(-45deg, transparent, transparent 15%, darkorange 15%, darkorange 20%), repeating-linear-gradient(45deg, transparent, transparent 15%, darkorange 15%, darkorange 20%);
  border-radius: 40%;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}
.pineapple {
  font-size: clamp(100px, 40vmin, 200px);
  height: 1em;
  margin: 0 auto;
  width: 0.9em;
  position: relative;
}
.pineapple div {
  position: absolute;
}
.pineapple .leaf {
  background-color: darkgreen;
  border-radius: 90% 0 90% 0;
  height: 20%;
  top: 10%;
  width: 20%;
}
.pineapple .leaf.left {
  -webkit-animation: leafLeft 0.25s ease-in-out alternate infinite;
  animation: leafLeft 0.25s ease-in-out alternate infinite;
  left: 50%;
  transform-origin: bottom left;
}
.pineapple .leaf.middle {
  -webkit-animation: leafMiddle 0.25s ease-in-out alternate infinite;
  animation: leafMiddle 0.25s ease-in-out alternate infinite;
  background-color: green;
  left: 40%;
  top: 5%;
  transform: rotate(-40deg);
}
.pineapple .leaf.right {
  -webkit-animation: leafRight 0.25s ease-in-out alternate infinite;
  animation: leafRight 0.25s ease-in-out alternate infinite;
  left: 50%;
  transform-origin: bottom left;
}
.pineapple .shadow {
  -webkit-animation: shadow 0.26s ease alternate infinite;
  animation: shadow 0.26s ease alternate infinite;
  background-color: tan;
  border-radius: 100%;
  bottom: 5%;
  height: 10%;
  left: 28%;
  opacity: 0.5;
  width: 46%;
}
.pineapple .body {
  -webkit-animation: body 0.25s ease-in-out alternate infinite;
  animation: body 0.25s ease-in-out alternate infinite;
  background-color: #ffa700;
  border-radius: 40%;
  height: 50%;
  left: 24%;
  top: 27%;
  width: 54%;
}
.pineapple .body .eye {
  -webkit-animation: eye 1.04s infinite;
  animation: eye 1.04s infinite;
  background-color: black;
  border-radius: 100%;
  height: 15%;
  top: 35%;
  width: 15%;
  z-index: 2;
}
.pineapple .body .eye.left {
  left: 25%;
}
.pineapple .body .eye.right {
  right: 25%;
}
.pineapple .body .mouth {
  background-color: black;
  border-radius: 20% 20% 80% 80%;
  height: 12%;
  left: 41%;
  top: 50%;
  width: 18%;
  z-index: 2;
}
.pineapple .body .arm {
  background-color: #ffa700;
  border-radius: 100vw;
  height: 50%;
  top: 20%;
  width: 20%;
}
.pineapple .body .arm.left {
  -webkit-animation: armLeft 0.26s ease-in-out alternate infinite;
  animation: armLeft 0.26s ease-in-out alternate infinite;
  left: 10%;
  transform-origin: bottom left;
}
.pineapple .body .arm.right {
  -webkit-animation: armRight 0.26s ease-in-out alternate infinite;
  animation: armRight 0.26s ease-in-out alternate infinite;
  right: 10%;
  transform-origin: bottom right;
}
.pineapple .body .leg {
  -webkit-animation: foot 0.26s alternate 0.13s infinite;
  animation: foot 0.26s alternate 0.13s infinite;
  background: #ffa700;
  border-radius: 100vw;
  bottom: -20%;
  height: 40%;
  width: 20%;
}
.pineapple .body .leg.left {
  left: 20%;
}
.pineapple .body .leg.right {
  right: 20%;
}
.pineapple .body::after {
  background: repeating-linear-gradient(-45deg, transparent, transparent 15%, darkorange 15%, darkorange 20%), repeating-linear-gradient(45deg, transparent, transparent 15%, darkorange 15%, darkorange 20%);
  border-radius: 40%;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}
@-webkit-keyframes leafLeft {
  from {
    transform: rotate(-75deg);
  }
  to {
    transform: rotate(-85deg);
  }
}
@keyframes leafLeft {
  from {
    transform: rotate(-75deg);
  }
  to {
    transform: rotate(-85deg);
  }
}
@-webkit-keyframes leafMiddle {
  from {
    transform: translateY(-10%) rotate(-40deg);
  }
  to {
    transform: translateY(10%) rotate(-40deg);
  }
}
@keyframes leafMiddle {
  from {
    transform: translateY(-10%) rotate(-40deg);
  }
  to {
    transform: translateY(10%) rotate(-40deg);
  }
}
@-webkit-keyframes leafRight {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}
@keyframes leafRight {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}
@-webkit-keyframes armLeft {
  from {
    transform: rotate(-40deg);
  }
  to {
    transform: rotate(-50deg);
  }
}
@keyframes armLeft {
  from {
    transform: rotate(-40deg);
  }
  to {
    transform: rotate(-50deg);
  }
}
@-webkit-keyframes armRight {
  from {
    transform: rotate(40deg);
  }
  to {
    transform: rotate(50deg);
  }
}
@keyframes armRight {
  from {
    transform: rotate(40deg);
  }
  to {
    transform: rotate(50deg);
  }
}
@-webkit-keyframes body {
  from {
    transform: translateY(-2%);
  }
  to {
    transform: translateY(2%);
  }
}
@keyframes body {
  from {
    transform: translateY(-2%);
  }
  to {
    transform: translateY(2%);
  }
}
@-webkit-keyframes eye {
  100% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}
@keyframes eye {
  100% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}
@-webkit-keyframes foot {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(10%);
  }
}
@keyframes foot {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(10%);
  }
}
@-webkit-keyframes shadow {
  from {
    transform: scaleX(1.1);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes shadow {
  from {
    transform: scaleX(1.1);
  }
  to {
    transform: scaleX(1);
  }
}
